# ELO MERCHANT CATEGORY RECOMMENDATION 
### COMPETITION ON KAGGLE
## EDA OF merchants.csv
### 21-12-2018

In [1]:
## Variables specific for competition

ID = 'card_id' 
MER_ID = 'merchant_id'
TARGET = 'target'    

RAW_DIRECTORY = 'C:/Users/judit/Documents/learning/kaggle/Elo_201812/rawdata/'  
DIRECTORY = 'C:/Users/judit/Documents/learning/kaggle/Elo_201812/data/'
HIST_TRANS_FILE = RAW_DIRECTORY + 'historical_transactions.csv'
MERCHANTS_FILE = RAW_DIRECTORY + 'merchants.csv'
NEW_MERCH_TRANS_FILE = RAW_DIRECTORY + 'new_merchant_transactions.csv'
TRAIN_FILE = RAW_DIRECTORY + 'train.csv'    
TEST_FILE = RAW_DIRECTORY +'test.csv'
SAMPLE_SUBMISSION_FILE = RAW_DIRECTORY + 'sample_submission.csv'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random
#import missingno
import pickle

random.seed(1)

In [3]:
mers = pd.read_csv(MERCHANTS_FILE)
mers.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [4]:
mers.shape

(334696, 22)

In [5]:
for idx in range(len(mers.columns)):
    print(mers.dtypes[idx], ' '*6, mers.columns[idx])

object        merchant_id
int64        merchant_group_id
int64        merchant_category_id
int64        subsector_id
float64        numerical_1
float64        numerical_2
object        category_1
object        most_recent_sales_range
object        most_recent_purchases_range
float64        avg_sales_lag3
float64        avg_purchases_lag3
int64        active_months_lag3
float64        avg_sales_lag6
float64        avg_purchases_lag6
int64        active_months_lag6
float64        avg_sales_lag12
float64        avg_purchases_lag12
int64        active_months_lag12
object        category_4
int64        city_id
int64        state_id
float64        category_2

In [6]:
mers.describe()

,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,city_id,state_id,category_2
count,334696.000000,334696.000000,334696.000000,334696.000000,334696.000000,334683.000000,3.346960e+05,334696.000000,3.346830e+05,3.346960e+05,334696.000000,3.346830e+05,3.346960e+05,334696.000000,334696.000000,334696.000000,322809.000000
mean,31028.736143,423.131663,25.116404,0.011476,0.008103,13.832993,inf,2.994108,2.165079e+01,inf,5.947397,2.522771e+01,inf,11.599335,102.917926,11.860942,2.380002
std,31623.043426,252.898046,9.807371,1.098154,1.070497,2395.489999,NaN,0.095247,3.947108e+03,NaN,0.394936,5.251842e+03,NaN,1.520138,107.090673,6.176889,1.562661
min,1.000000,-1.000000,-1.000000,-0.057471,-0.057471,-82.130000,3.334953e-01,1.000000,-8.213000e+01,1.670447e-01,1.000000,-8.213000e+01,9.832954e-02,1.000000,-1.000000,-1.000000,1.000000
25%,3612.000000,222.000000,19.000000,-0.057471,-0.057471,0.880000,9.236499e-01,3.000000,8.500000e-01,9.022475e-01,6.000000,8.500000e-01,8.983333e-01,12.000000,-1.000000,9.000000,1.000000
50%,19900.000000,373.000000,27.000000,-0.057471,-0.057471,1.000000,1.016667e+00,3.000000,1.010000e+00,1.026961e+00,6.000000,1.020000e+00,1.043361e+00,12.000000,69.000000,9.000000,2.000000
75%,51707.250000,683.000000,33.000000,-0.047556,-0.047556,1.160000,1.146522e+00,3.000000,1.230000e+00,1.215575e+00,6.000000,1.290000e+00,1.266480e+00,12.000000,182.000000,16.000000,4.000000
max,112586.000000,891.000000,41.000000,183.735111,182.079322,851844.640000,inf,3.000000,1.513959e+06,inf,6.000000,2.567408e+06,inf,12.000000,347.000000,24.000000,5.000000

In [7]:
mers[mers['avg_sales_lag3'].isnull()]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,3.666667,6,NaN,3.833333,12,Y,160,21,5.0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,N,E,E,NaN,...,NaN,4.833333,6,NaN,6.333333,12,N,60,16,1.0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,N,E,E,NaN,...,NaN,189.916667,6,NaN,197.000000,7,N,248,15,1.0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,N,-1,9,1.0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,88,16,1.0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.000000,1,NaN,1.000000,1,Y,158,15,1.0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.666667,3,NaN,1.666667,3,N,-1,16,1.0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN

In [8]:
mers[mers['avg_sales_lag6'].isnull()]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,3.666667,6,NaN,3.833333,12,Y,160,21,5.0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,N,E,E,NaN,...,NaN,4.833333,6,NaN,6.333333,12,N,60,16,1.0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,N,E,E,NaN,...,NaN,189.916667,6,NaN,197.000000,7,N,248,15,1.0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,N,-1,9,1.0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,88,16,1.0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.000000,1,NaN,1.000000,1,Y,158,15,1.0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.666667,3,NaN,1.666667,3,N,-1,16,1.0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN

In [9]:
mers[mers['avg_sales_lag12'].isnull()]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,3.666667,6,NaN,3.833333,12,Y,160,21,5.0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,N,E,E,NaN,...,NaN,4.833333,6,NaN,6.333333,12,N,60,16,1.0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,N,E,E,NaN,...,NaN,189.916667,6,NaN,197.000000,7,N,248,15,1.0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,N,-1,9,1.0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,88,16,1.0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.000000,1,NaN,1.000000,1,Y,158,15,1.0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.666667,3,NaN,1.666667,3,N,-1,16,1.0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN

In [10]:
mers[mers['category_2'].isnull()]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN
48,M_ID_68d5721729,5670,178,29,-0.057471,-0.057471,N,E,E,555.00,...,462.50,2.666667,6,435.84,2.571429,7,N,-1,-1,NaN
52,M_ID_44384f4b59,8533,544,29,-0.057471,-0.057471,N,E,E,1.00,...,1.00,1.000000,1,1.00,1.000000,1,N,-1,-1,NaN
74,M_ID_64eacbe6fd,43601,222,21,-0.057471,-0.057471,Y,E,E,36169.11,...,55775.50,233.000000,6,58389.45,255.444444,9,Y,-1,-1,NaN
111,M_ID_0039220eb3,35,836,5,-0.057471,-0.057471,Y,E,E,0.66,...,0.66,0.666667,3,0.66,0.666667,3,Y,-1,-1,NaN
112,M_ID_0039220eb3,35,836,5,0.408530,0.408530,Y,C,D,1.17,...,1.17,1.087939,6,1.19,0.997021,12,Y,-1,-1,NaN
211,M_ID_ad7402ed3c,5211,68,27,-0.057471,-0.057471,N,E,E,43.70,...,72.06,20.500000,6,73.56,21.142857,7,N,-1,-1,NaN
234,M_ID_a2389b1686,70502,222,21,-0.057471,-0.057471,N,E,E,176.13,...,423.53,3.666667,6,597.33,6.250000,12,N,-1,-1,NaN
236,M_ID_20ffb3a10a,15374,705,33,-0.057471,-0.057471,N,E,E,1.06,...,2.65,2.333333,6,5.92,3.750000,12,N,-1,-1,NaN
259,M_ID_48b845253b,63313,367,16,-0.057471,-0.057471,N,E,E,1.65,...,2.54,1.666667,6,5.51,2.416667,12,N,-1,-1,NaN
271,M_ID_0417155055,6800,705,33,-0.057471,-0.057471,N,E,E,12.62,...,78.22,12.000000,6,100.72,13.428571,7,N,-1,-1,NaN
287,M_ID_79c5ae42b3,7221,90,22,-0.057471,-0.057471,Y,E,E,499.26,...,1360.90,286.666667,6,1800.55,417.111111,9,Y,-1,-1,NaN
326,M_ID_650c335221,8342,178,29,-0.057471,-0.057471,N,E,E,158.52,...,454.65,88.333333,6,536.70,104.416667,12,N,-1,-1,NaN
360,M_ID_92ee94e1b1,3549,561,7,-0.057471,-0.057471,Y,E,E,1681.90,...,879.79,9.000000,6,530.50,7.100000,10,Y,-1,-1,NaN
478,M_ID_715856625d,5570,454,39,-0.057471,-0.057471,Y,E,E,106.27,...,105.01,18.000000,6,164.17,18.125000,8,Y,-1,-1,NaN
482,M_ID_eb3afcd342,2169,630,36,-0.057471,-0.057471,N,E,E,9.48,...,7.40,2.166667,6,9.03,2.727273,11,N,-1,-1,NaN
496,M_ID_6ba9a5d713,37512,166,29,-0.057471,-0.057471,N,E,E,347.67,...,441.27,180.400000,5,441.27,180.400000,5,N,-1,-1,NaN
546,M_ID_b831fe5332,35,261,31,-0.057471,-0.057471,N,E,E,12.50,...,26.96,4.166667,6,27.48,4.250000,8,N,-1,-1,NaN
619,M_ID_1022b7bcbe,555,705,33,-0.057471,-0.057471,N,E,E,201.42,...,259.03,102.666667,6,286.04,117.222222,9,N,-1,-1,NaN
630,M_ID_e6ee032502,73448,312,7,-0.057471,-0.057471,Y,E,E,1.51,...,1.51,1.000000,2,1.51,1.000000,2,Y,-1,-1,NaN
727,M_ID_f3ab914d51,13380,114,7,-0.057471,-0.057471,Y,E,E,6.72,...,4.21,0.600000,5,4.21,0.600000,5,Y,-1,-1,NaN
739,M_ID_28bd3ff8cd,12893,40,21,-0.057471,-0.057471,Y,E,E,23.04,...,50.57,1.666667,6,43.55,1.571429,7,Y,-1,-1,NaN
781,M_ID_815f3bccfa,2592,206,1,-0.057471,-0.057471,Y,E,E,216.16,...,376.14,13.833333,6,352.35,13.833333,12,Y,-1,-1,NaN
804,M_ID_02481484b7,27514,497,27,-0.057471,-0.057471,N,E,E,47.91,...,52.47,12.750000,4,52.47,12.750000,4,N,-1,-1,NaN
816,M_ID_995fff0b30,35,527,36,-0.057471,-0.057471,N,E,E,2.00,...,6.06,5.200000,5,6.06,5.200000,5,N,-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334537,M_ID_8fadd601d2,983,755,8,0.051593,-0.057471,Y,A,A,1.02,...,0.98,1.012933,6,0.84,0.868797,12,Y,-1,-1,NaN
334542,M_ID_f19d6a46ab,488,409,29,-0.057471,-0.057471,Y,A,A,0.86,...,0.75,0.760755,6,0.59,0.610861,10,Y,-1,-1,NaN
334572,M_ID_b0072c1ef8,321,705,33,0.130913,-0.047556,N,A,A,0.98,...,0.95,1.026851,6,0.85,0.997732,12,N,-1,-1,NaN
334576,M_ID_6c3db570df,84477,14,31,-0.057471,-0.057471,Y,A,A,1.05,...,0.94,0.963617,6,0.78,0.813615,8,Y,-1,-1,NaN
334578,M_ID_9bafcf53bc,15464,491,3,-0.047556,-0.047556,Y,A,B,0.90,...,0.84,0.575100,6,0.79,0.469994,12,Y,-1,-1,NaN
334584,M_ID_b4ef0702e2,840,437,15,-0.027726,-0.057471,N,A,A,1.00,...,1.01,1.001178,6,1.02,0.984079,12,N,-1,-1,NaN
334593,M_ID_445742726b,1660,755,8,0.041678,-0.057471,Y,A,A,1.02,...,1.04,1.011846,6,1.03,0.994927,12,Y,-1,-1,NaN
334595,M_ID_29ec8d2ab8,9203,834,27,-0.057471,-0.057471,Y,A,A,0.93,...,0.83,0.895154,6,0.84,0.930416,12,Y,-1,-1,NaN
334598,M_ID_57df19bf28,71128,755,8,-0.037641,-0.037641,Y,A,A,1.00,...,0.98,1.001798,6,0.94,0.991839,12,Y,-1,-1,NaN
334599,M_ID_b574941e3a,66713,656,17,-0.027726,-0.027726,Y,A,A,0.97,...,0.95,0.771406,6,0.88,0.699674,12,Y,-1,-1,NaN
334613,M_ID_9e84cda3b1,6938,661,8,-0.047556,-0.047556,Y,A,A,1.16,...,1.11,1.177485,6,1.04,1.066582,12,Y,-1,-1,NaN
334615,M_ID_b9dcf28cb9,35,511,7,-0.057471,-0.057471,Y,A,A,0.90,...,0.81,0.927242,6,0.68,0.774975,12,Y,-1,-1,NaN
334623,M_ID_b9f9332438,35,90,22,-0.057471,-0.057471,Y,A,A,0.96,...,0.88,0.904755,6,0.68,0.725023,12,Y,-1,-1,NaN
334628,M_ID_86be58d7e0,2300,755,8,-0.057471,-0.057471,Y,A,A,1.01,...,1.00,1.052190,6,0.97,1.060152,12,Y,-1,-1,NaN
334639,M_ID_4d3d928d6f,53723,561,7,-0.057471,-0.057471,Y,A,B,0.86,...,0.67,0.813888,6,0.51,0.651435,12,Y,-1,-1,NaN
334642,M_ID_e5374dabc0,35,839,29,-0.057471,-0.057471,Y,A,A,0.94,...,0.81,0.777814,6,0.62,0.583477,12,Y,-1,-1,NaN
334645,M_ID_09d7a200d1,488,550,3,-0.057471,-0.057471,Y,A,A,1.01,...,1.04,0.893622,6,1.03,0.834914,12,Y,-1,-1,NaN
334649,M_ID_2c4b8c61f6,1145,705,33,0.468019,-0.057471,Y,A,A,0.95,...,0.91,0.995695,6,0.90,0.995087,12,Y,-1,-1,NaN
334652,M_ID_8c6b897b35,123,690,1,-0.057471,-0.057471,Y,A,B,0.98,...,0.91,0.952838,6,0.76,0.795067,12,Y,-1,-1,NaN
334662,M_ID_d3efd95cc7,103909,210,35,-0.047556,-0.047556,Y,A,B,1.00,...,0.98,1.003756,6,0.91,0.967326,12,Y,-1,-1,NaN
334665,M_ID_fc7d7969c3,104706,661,8,-0.057471,-0.057471,Y,A,A,0.88,...,0.72,0.737107,6,0.56,0.585596,12,Y,-1,-1,NaN
334667,M_ID_076cd8a829,401,665,3,-0.057471,-0.057471,Y,A,A,0.59,...,0.52,0.531372,6,0.51,0.436002,12,Y,-1,-1,NaN
334669,M_ID_79692349d6,3097,491,3,-0.057471,-0.057471,Y,A,A,0.95,...,0.88,0.724008,6,0.77,0.619400,12,Y,-1,-1,NaN
334670,M_ID_96ba3c7b60,35,690,1,-0.057471,-0.057471,Y,A,B,0.98,...,0.89,0.935795,6,0.78,0.850326,12,Y,-1,-1,NaN
334681,M_ID_7159aca3bf,35,574,22,-0.057471,-0.057471,Y,A,A,0.62,...,0.33,0.278660,6,0.17,0.142010,12,Y,-1,-1,NaN
334686,M_ID_3111c6df35,107283,690,1,-0.057471,-0.057471,Y,A,A,0.95,...,0.90,0.967786,6,0.79,0.891154,12,Y,-1,-1,NaN
334688,M_ID_59764e8cb1,17285,309,21,0.329211,-0.057471,Y,A,A,0.97,...,1.00,1.107380,6,1.05,1.120891,12,Y,-1,-1,NaN
334690,M_ID_a9d91682ad,35,241,17,-0.057471,-0.057471,Y,A,A,0.96,...,0.85,0.919159,6,0.90,0.982781,12,Y,-1,-1,NaN
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,Y,A,A,0.89,...,0.78,0.813473,6,0.59,0.606765,12,Y,-1,-1,NaN
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,Y,A,A,0.94,...,0.82,0.783000,6,0.65,0.584000,12,Y,-1,-1,NaN